<div class="container-fluid" style="margin-top: 2%;">
    <div class="form">
        <mat-card class="col-sm-3" style="margin: auto;">
            <form class="form-group container-fluid" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

                <mat-card-header>
                    <mat-card-title>{{componentTitle}}</mat-card-title>
                    <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content class="container-fluid">
                    <div class="form-inline">
                        <div class="form-group input-group mymargin">
                            <mat-form-field>
                                <input matInput placeholder="Raison Sociale" formControlName="raison_sociale" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="form-group input-group mymargin">
                            <mat-form-field>
                                <input matInput placeholder="Adresse" formControlName="adresse" required>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="form-inline">
                        
                        <div class="form-group input-group mymargin">
                            <mat-form-field>
                                <input matInput placeholder="Téléphone" formControlName="telephone" required>
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button type="button" (click)="goBack()" color="warn">Annuler</button>

                    <button mat-raised-button type="submit" color="primary">Enregistrer</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>