
<div class="row container-fluid" style="margin-top: 3%;margin-bottom: 3%;">
    <div class="col-sm-8">
        <div class="mymargin">
            <mat-form-field>
                <mat-label>Client</mat-label>
                <mat-select [(ngModel)]="entreprise" name="entreprise" >
                  <mat-option *ngFor="let entreprise of entreprises" [value]="entreprise.id">
                    {{entreprise.raisonsociale}}
                  </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <div class="mymargin ">
          <mat-form-field style="width:100px;">
            <input matInput [matDatepicker]="picker" [(ngModel)]="date1" placeholder="Date début">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="mymargin ">
          <mat-form-field style="width:100px;">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="date2" placeholder="Date fin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

          <div class="mymargin">
              <button mat-raised-button color="primary" (click)="rechercher()">rechercher</button>
          </div>
    </div>
    <div class="col-sm-4" >
      <div class="" style="float: right;">
      </div>
      
    </div>
  </div>

 
  
  <div class="row container-fluid">
    <div class="mat-elevation-z8 col-sm-10" style="margin: auto;">
      <table mat-table [dataSource]="dataSource" class="container-fluid">
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="moyen">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Moyen de paiement </th>
          <td mat-cell *matCellDef="let row"> {{row.moyen}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
          <td mat-cell *matCellDef="let row"> {{row.montant}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="anciensolde">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ancien Solde </th>
          <td mat-cell *matCellDef="let row"> {{row.anciensolde}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="datereglement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Réglement</th>
          <td mat-cell *matCellDef="let row" [style.color]="row.cout_unitaire"> {{row.datereglement}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="entreprise">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.solde"> {{row.entreprise.raisonsociale}} </td>
        </ng-container>
        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>