<mat-toolbar class="mat-elevation-z4" >
   
</mat-toolbar>


<mat-sidenav-container class="admin-container">
<mat-sidenav mode="side" class="sidenav mat-elevation-z4" opened>
    <div class="container-fluid">
        <table class="entreprise-infos">
            <tbody>
                <tr>
                    <th>
                        <mat-icon>work</mat-icon>
                    </th>
                    <td>{{entreprise?.nom}}</td>
                </tr>
                <tr>
                    <th>
                        <mat-icon>person</mat-icon>
                    </th>
                    <td>{{entreprise?.login}}</td>
                </tr>
                <tr>
                    <th>
                        <mat-icon>account_balance</mat-icon>
                    </th>
                    <td>{{entreprise?.solde}} FCFA</td>
                </tr>
            </tbody>
        </table>
    </div>
   <div class="container-fluid">
    <button mat-raised-button style="width: 100%;" [routerLink]="['entreprises']">Historique SMS</button>
    <button mat-raised-button style="width: 100%;" [routerLink]="['entreprises']">H. Rechargements</button>
    
    <button mat-raised-button style="width: 100%;" [routerLink]="['entreprises']">Entreprises</button>
    <button mat-raised-button style="width: 100%;" [routerLink]="['utilisateurs']">Admins</button>
    <button mat-raised-button style="width: 100%;" >Charger un compte</button>

   </div>


</mat-sidenav>
<mat-sidenav-content >
    <router-outlet ></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
  