<mat-toolbar class="mat-elevation-z4" color="primary" >
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['profil']">
          <mat-icon>account_box</mat-icon>
          <span>Profil</span>
        </button>
        <button mat-menu-item [routerLink]="['changepwd']" >
          <mat-icon>edit</mat-icon>
          <span>Mot de passe</span>
        </button>
        <button mat-menu-item (click) = "logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
</mat-toolbar>


<mat-sidenav-container class="admin-container">
<mat-sidenav mode="side" class="sidenav mat-elevation-z4" opened>
    <div class="container-fluid">
        <table class="entreprise-infos mat-elevation-z4">
            <tbody>
                <tr>
                    <th>
                        <mat-icon>work</mat-icon>
                    </th>
                    <td>{{entreprise?.nom}}</td>
                </tr>
                <tr>
                    <th>
                        <mat-icon>account_balance</mat-icon>
                    </th>
                    <td>{{entreprise?.solde}} FCFA</td>
                </tr>
            </tbody>
        </table>
    </div>
   <div class="container-fluid">
    <button  class="btnoption" style="width: 100%;" [routerLink]="['send']" [routerLinkActive]="['btnoptionactive']">Envoyer SMS</button>
    <button  class="btnoption" style="width: 100%;" [routerLink]="['historiques']" [routerLinkActive]="['btnoptionactive']">Historique</button>
    <button  class="btnoption" style="width: 100%;" [routerLink]="['rechargements']" [routerLinkActive]="['btnoptionactive']">Rechargements</button>
    
    <button  class="btnoption" style="width: 100%;" [routerLink]="['entreprises']" [routerLinkActive]="['btnoptionactive']">Clients</button>
    <button  class="btnoption" style="width: 100%;" [routerLink]="['utilisateurs']" [routerLinkActive]="['btnoptionactive']">Admins</button>
    <button  class="btnoption" style="width: 100%;" [routerLink]="['logs']" [routerLinkActive]="['btnoptionactive']">Logs</button>
    <button  class="btnoption" style="width: 100%;" [routerLink]="['parametres']" [routerLinkActive]="['btnoptionactive']">Paramètres</button>

   </div>


</mat-sidenav>
<mat-sidenav-content >
    <router-outlet ></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
  