
<div class="row container-fluid" style="margin-top: 3%;margin-bottom: 3%;">
    <div class="col-sm-10">
        <div class="mymargin">
          <mat-form-field>
            <mat-label>Evènement</mat-label>
            <mat-select [(ngModel)]="evenement" name="evenement">
              <mat-option [value]="defaultlog.id">{{defaultlog.libelle}}</mat-option>
              <mat-option *ngFor="let evenement of evenements" [value]="evenement.id">{{evenement.libelle}}</mat-option>
            </mat-select>
        </mat-form-field> 
        </div>
        <div class="mymargin">
          <mat-form-field>
              <mat-label>Client</mat-label>
              <mat-select [(ngModel)]="entreprise" name="entreprise">
                <mat-option *ngFor="let entreprise of entreprises" [value]="entreprise.id">{{entreprise.raisonsociale}}</mat-option>
              </mat-select>
          </mat-form-field> 
      </div>
        <div class="mymargin ">
          <mat-form-field style="width:100px;">
            <input matInput [matDatepicker]="picker" [(ngModel)]="date1" placeholder="Date début">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="mymargin ">
          <mat-form-field style="width:100px;">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="date2" placeholder="Date fin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

          <div class="mymargin">
              <button mat-raised-button color="primary" (click)="rechercher()">rechercher</button>
          </div>
    </div>
    <div class="col-sm-4" >
      <div class="" style="float: right;">
      </div>
      
    </div>
  </div>
  
  <div class=" container-fluid">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="container-fluid">
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="evenement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Evènement </th>
          <td mat-cell *matCellDef="let row"> {{row.evenement}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="datecreation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
          <td mat-cell *matCellDef="let row"> {{row.datecreation | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="utilisateur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Utilisateur</th>
          <td mat-cell *matCellDef="let row" [style.color]="row.cout_unitaire"> {{row.utilisateur}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="entreprise">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Entreprise </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.solde"> {{row.entreprise}} </td>
        </ng-container>
        
        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>