<div class="row container-fluid" style="margin-top:3%;margin-bottom: 4px;">
  <div class="col-sm-8">
    <div class="mymargin">
      <mat-form-field>
        <mat-label>Client</mat-label>
        <mat-select [(ngModel)]="entreprise">
          <mat-option *ngFor="let entreprise of entreprises" [value]="entreprise.id">{{entreprise.raisonsociale}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mymargin ">
      <mat-form-field style="width:100px;">
        <input matInput [matDatepicker]="picker" [(ngModel)]="date1" placeholder="Date début">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mymargin ">
      <mat-form-field style="width:100px;">
        <input matInput [matDatepicker]="picker2" [(ngModel)]="date2" placeholder="Date fin">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="mymargin">
      <button mat-raised-button color="primary">rechercher</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="" style="float: right;">
    </div>

  </div>
</div>
<div class="container-fluid">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs ">
    <mat-tab label="Résumé"> 
      <div class="container-fluid" style="margin-top: 1%;">
        <div style="margin-left: 89%;">
          <button mat-raised-button color="primary" (click)="exporter1()">Exporter</button>
        </div>
      </div>
      <div class="row container-fluid" style="margin-bottom: 2%; margin-top: 2%;">
        <mat-divider></mat-divider>
        <div class="col-sm-5 container-fluid mat-elevation-z8" style="margin: auto;">
          <table  mat-table [dataSource]="dataSource1" class="container-fluid">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row?.id}} </td>
            </ng-container>

           

            <!-- Color Column -->
            <ng-container matColumnDef="libelle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Libelle</th>
              <td mat-cell *matCellDef="let row" > {{row.libelle}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let row" > {{row.nombre}} </td>
            </ng-container>

          

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
            </tr>
          </table>
        </div>
        <div class="col-sm-5 container-fluid mat-elevation-z8">
          <table  mat-table [dataSource]="dataSource12" class="container-fluid">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row?.id}} </td>
            </ng-container>

           

            <!-- Color Column -->
            <ng-container matColumnDef="libelle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Libelle</th>
              <td mat-cell *matCellDef="let row" > {{row.libelle}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let row" > {{row.nombre}} </td>
            </ng-container>

          

            <tr mat-header-row *matHeaderRowDef="displayedColumns12"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns12;">
            </tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Détails">
      <div class="container-fluid" style="margin-top: 1%;" >
          <div  style="margin-left: 89%;">
            <button (click)="exporter()" mat-raised-button color="primary">Exporter</button>
          </div>
      </div>
      <div class="row container-fluid" style="margin: auto; margin-bottom: 2%;margin-top: 2%;">
        <div class="col-sm-8 mat-elevation-z8" style="margin: auto;">
          <table id="historique" mat-table [dataSource]="dataSource" class="container-fluid">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="receiver">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Destinataire </th>
              <td mat-cell *matCellDef="let row"> {{row.receiver}} </td>
            </ng-container>

            <!-- Name Column -->
            <!-- <ng-container matColumnDef="push_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Push ID </th>
                <td mat-cell *matCellDef="let row"> {{row.push_id}} </td>
              </ng-container> -->

            <!-- Color Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let row" [style.color]="row.cout_unitaire"> {{row.status}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="last_update">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dernière MAJ </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.solde"> {{row.last_update}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="ret_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> RETID </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.solde"> {{row.ret_id}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
