<div class="row container-fluid" style="margin-top: 5%;">
    <!-- send sms  -->
    <div class="container-fluid col-sm-4 mat-elevation-z2" style="padding-bottom: 2%;" >
        <div class="container-fluid row" style="margin-top: 2%;">
            <div style="margin: auto;">
                <h4>Envoyer de SMS</h4>
            </div>
        </div>
        <div class="form-row">
            <mat-form-field class="container-fluid">
                <input type="text" matInput placeholder="Expéditeur">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label>Destinataires: </label>
            <div class="form-row">
                <mat-radio-group [(ngModel)]="nbrdest" color="primary">
                    <mat-radio-button value="1">Un</mat-radio-button>
                    &nbsp;&nbsp;<mat-radio-button value="2">Plusieurs</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="form-group" *ngIf="nbrdest==1">
            <mat-form-field class="container-fluid">
                <input type="telephone" matInput placeholder="Numéro">
            </mat-form-field>
        </div>
        <div class="form-row" *ngIf="nbrdest==2">
            <div class="col">
                <button mat-raised-button color="primary" (click)="fileInput.click()">
                    Charger un fichier
                    <input #fileInput type="file"  style="display:none;" />
                </button>
            </div>
            <div class="container-fluid col">
                <p></p>
            </div>
        </div>
        <div class="form-row" *ngIf="nbrdest==2">
            <mat-form-field class="container-fluid">
                <input type="text" matInput placeholder="Identifiant Campagne">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="container-fluid">
                <mat-label>Message</mat-label>
                <textarea matInput #input rows="7"></textarea>
                <mat-hint align="end">{{input.value?.length || 0}}/160</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-row">
            <div style="margin:auto;">
                <button mat-raised-button color="primary">Envoyer</button>
            </div>
        </div>
    </div>