<div class="container-fluid" style="margin-top: 10%;">
    <div class="form">
        <mat-card class="col-sm-5" style="margin: auto;">
            <form class="form-group container-fluid" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

                <mat-card-header>
                    <mat-card-title>{{isedit?'Edition d\'un utilisateur':'Ajout d\'un utilisateur'}}</mat-card-title>
                    <mat-card-subtitle><div class="container-fluid card">
                        <span>CLIENT: {{entreprise?.raisonsociale}}</span>
                    </div></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="container-fluid">
                    <div class="form-row">
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="Prénom" formControlName="prenom" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="Nom" formControlName="nom" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="Login" formControlName="login" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="email" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="Matricule" formControlName="matricule" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="Téléphone" formControlName="telephone" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <mat-form-field>
                                <input type="password" matInput placeholder="Mot de Passe" formControlName="password" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <input type="password" matInput placeholder="Confirmer Mot de Passe" formControlName="password_confirmation" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Fonction</mat-label>
                                <mat-select [compareWith]="compareFn" formControlName="nom_fonction">
                                    <mat-option *ngFor="let fonction of fonctions " [value]="fonction.nom">
                                        {{fonction.nom}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Département</mat-label>
                                <mat-select [compareWith]="compareFn" formControlName="nom_departement">
                                    <mat-option *ngFor="let departement of departements" [value]="departement.nom">
                                        {{departement.nom}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                </mat-card-content>
                <mat-card-actions>
                    <button type="button" mat-raised-button (click)="goBack()"
                        color="warn">Annuler</button>

                    <button type="submit" mat-raised-button type="submit" color="primary">Enregistrer</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>