<div class="container-fluid" style="margin-top: 10%;">
    <div class="form">
        <mat-card class="col-sm-3" style="margin: auto;">
            <form class="form-group container-fluid" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

                <mat-card-header>
                    <mat-card-title>Rechargement crédit</mat-card-title>
                    <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content class="container-fluid" style="margin: auto;">
                    <div class="form-row">
                        <div class="row" style="margin: auto;">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Montant" formControlName="montant" required>
                            </mat-form-field>
                        </div>
                       
                    </div>
                    <div class="form-row" >
                        <div class="row" style="margin: auto;">
                            <mat-form-field style="width: 182px;">
                                <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="date1" formControlName="date_reglement" placeholder="Date rechargement">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="row" style="margin: auto;">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Moyen de paiement" formControlName="moyen" required>
                            </mat-form-field>
                        </div>
                    </div>
                    

                   
                    


                </mat-card-content>
                <mat-card-actions >
                    <button type="button" mat-raised-button (click)="goBack()"
                        color="warn">Annuler</button>

                    <button mat-raised-button type="submit" color="primary">Enregistrer</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>