<div class="container-fluid" style="margin-top: 4px;">
    <div class="container-fluid" style="margin:auto;">
  
      <mat-card class="col-sm-4" style="margin: auto;">
        <mat-card-header class="w3-center">
          <mat-card-title >Détails Entreprise</mat-card-title>
          <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content class="container-fluid">
          <table class="table">
            <tr>
              <th>Nom</th>
              <td>{{entreprise.nom}}</td>
            </tr>
            <tr>
              <th>Adresse</th>
              <td>{{entreprise.adresse}}</td>
            </tr>
            <tr>
              <th>Coût unitaire</th>
              <td>{{entreprise.cout_unitaire}}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{entreprise.solde}}</td>
              </tr>
            
            <tr>
              <th>Code</th>
              <td >{{entreprise.code}}</td>
            </tr>
            <tr>
              <th>URL DLR</th>
              <td >{{entreprise.ret_url}}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{entreprise.telephone}}</td>
              </tr>
            <tr>
              <th>Login</th>
              <td >{{entreprise.login}}</td>
            </tr>
            
          </table>
  
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['../../']" color="primary">Retourner</button>
  
          <button mat-raised-button color="warn">Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
  </div>