<div class="container-fluid" style="margin-top: 5%;">
    <div class="container-fluid" style="margin:auto;">
  
      <mat-card class="col-sm-4" style="margin: auto;">
        <mat-card-header class="w3-center">
          <mat-card-title >Informations Client</mat-card-title>
          <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content class="container-fluid">
          <table class="table">
            <tr>
              <td>Raison Sociale</td>
              <td>{{entreprise.raison_sociale}}</td>
            </tr>
            <tr>
              <td>Adresse</td>
              <td>{{entreprise.adresse}}</td>
            </tr>
            <tr>
                <td>Solde</td>
                <td>{{entreprise.solde}}</td>
              </tr>
            
            <tr>
                <td>Téléphone</td>
                <td>{{entreprise.telephone}}</td>
              </tr>
           
            
          </table>
  
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['../../']" color="primary">Retourner</button>
  
        </mat-card-actions>
      </mat-card>
    </div>
  
  </div>