<div class="container-fluid">
    <div class="row container-fluid " style="margin-top: 4px;margin-bottom: 4px;">

        <div class="row col-sm-6">

        </div>
        <div class="row col-sm-6">

            <div class="col-sm-10">

            </div>
            <div class="col-sm-2">
                <div style="margin-left: 80%;">
                    <button mat-raised-button color="primary" [routerLink]="[ 'create']"
                        matTooltip="Ajoutez un nouvel utilisateur">
                        <mat-icon>add</mat-icon>Ajouter
                    </button>
                </div>
            </div>


        </div>

    </div>
    <div class="container-fluid">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 container-fluid " style="margin:auto; margin-top: 2%;">


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
            </ng-container>
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>
            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef> Login </th>
                <td mat-cell *matCellDef="let element"> {{element.login}} </td>
            </ng-container>
    
            <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef> Téléphone </th>
                <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
            </ng-container>
    
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Rôle </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>
            <ng-container matColumnDef="actif">
                <th mat-header-cell *matHeaderCellDef> Etat </th>
                <td mat-cell *matCellDef="let element"> {{element.actif}} </td>
            </ng-container>
    
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="w3-center"> Actions </th>
                <td mat-cell *matCellDef="let element" class="w3-center">
                    <button matTooltip="details" mat-icon-button color="primary" [routerLink]="['details',element.id]">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button matTooltip="éditer" mat-icon-button color="primary" [routerLink]="['edit',element.id]">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button ng-show="actif" matTooltip="désactiver" mat-icon-button color="warn" >
                        <i class="fa fa-stop"></i>
                    </button>
                    <button matTooltip="supprimer" mat-icon-button color="warn">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-item"></tr>
        </table>
    </div>

    <div class="container-fluid">
        <mat-paginator class="container-fluid" [length]="displayedColumns.length" [pageSize]="8" [pageSizeOptions]="[5,8, 10]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>