<div class="container-fluid" style="margin-top: 3%;">
    <div class="container-fluid" style="margin:auto;">
  
      <mat-card class="col-sm-4" style="margin: auto;">
        <mat-card-header class="w3-center">
          <mat-card-title >Informations Utilisateur</mat-card-title>
          <mat-card-subtitle>
            <div class="container-fluid card">
              <span>Client: Black Star Technologies</span>
          </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="container-fluid">
          <table class="table">
            <tr>
              <td>Prénom</td>
              <td>{{user.prenom}}</td>
            </tr>
            <tr>
              <td>Nom</td>
              <td>{{user.nom}}</td>
            </tr>
            <tr>
              <td>Login</td>
              <td>{{user.login}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
              </tr>
            
            <tr>
              <td>Matricule</td>
              <td >{{user.matricule}}</td>
            </tr>
            <tr>
              <td>Téléphone</td>
              <td >{{user.telephone}}</td>
            </tr>
            <tr>
                <td>Fonction</td>
                <td>{{user.fonction?.libelle}}</td>
              </tr>
            <tr>
              <td>Département</td>
              <td >{{user.departement?.libelle}}</td>
            </tr>
            
          </table>
  
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['../']" color="primary">Retourner</button>
  
          <button mat-raised-button color="warn">Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
  </div>