/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mymargin{
    display: inline;
    margin: 2%;;
  }

  .mat-cell,.mat-body,.mat-body-1,.mat-form-field,.mat-raised-button,
  .mat-accordion,.mat-expansion-panel,.mat-expansion-panel-header,.mat-list,
  .mat-panel-title,span,.mat-line,th,tr,.table,table,td,.mat-row,
  .mat-card,.mat-card-title,.mat-tab-label-content,tbody,body{
      font-size: 12px !important;
  }


  button.mat-focus-indicator.mat-icon-button.mat-button-base {
    font-size:10px !important;
    height: 10px !important;
    width: 10px !important;
    margin: 2%;
    line-height: 10px;
 }

 button.mat-focus-indicator.mat-icon-button.mat-button-base i{
    font-size: 10px !important;
    height: 10px !important;
    width: 10px !important;
    line-height: 10px;
 }


 .mat-radio-outer-circle{
     height: 10px !important;
     width: 10px !important;
     list-style: 10px;
 }
 .mat-radio-container{
    height: 10px !important;
    width: 10px !important;
    list-style: 10px;
}
.mat-radio-inner-circle{
    height: 10px !important;
    width: 10px !important;
    list-style: 10px;
}

.mat-focus-indicator.mat-raised-button.mat-button-base{
    height: 27px !important;
    line-height: 27px;
    font-size: 12px;
    font-weight: normal;
    
    span.mat-button-wrapper{
        height: 20px !important;
        list-style: 20px !important;
    };

    mat-icon.mat-icon.notranslate.material-icons{
        font-size: 12px;
        height: 12px;
        line-height: 12px;
    }
}

